
<div class="sh-block">
<div>
	<h2>{{ content.titleList }}</h2>
	<div>{{ content.category }} : <category options="categories" model="selected.category"/>
	</div>
	<div ng-show="selected.category">{{ content.subCategory }} : <sub-category options="subCategories" model="selected.subCategory" parent="selected.category"/>
	</div>
	<div class="row-fluid" ng-repeat="(type, typeLabel) in announceTypes">
		<div class="span8 offset1">
			<h3>{{ typeLabel }}</h3>
			<div class="accordion" id="announce-accordion">
				<div class="accordion-group" ng-repeat="(key, announce) in announceList | filter:{type: type}">
				<!-- selectFilter:'category':selected.category | selectFilter:'sub_category':selected.subCategory | -->
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="announce-accordion" ng-href="#{{type}}-{{$index}}">
							{{announce.title}} {{content.by}} {{announce.author}} ({{announce.created_at | date:content.dateFormat}})
						</a>
					</div>
					<div class="accordion-body collapse" id="{{type}}-{{$index}}">
						<p>{{ announce.message }}</p>
						<p ng-show="announce.place">{{ content.place }} : {{ announce.place }}</p>
						<p>{{ content.author }} : <user-link name="announce.author"/></p>
						<p>{{ content.date }} : {{ announce.created_at | date:content.dateFormat }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<table class="table table-hover" ng-init="selected.announce_type=type">
		<tr>
			<th>Date</th>
			<th>Type</th>
			<th>Auteur</th>
			<th>Titre</th>
			<!--<th></th>-->
		</tr>
		<tr ng-repeat="(key, announce) in announceList">
			<td>{{ announce.created_at | date:"dd/MM" }}</td>
			<td>{{announceTypes[announce.announce_type]}}</td>
			<td><user-link name="announce.author"/></td>
			<td>{{ announce.title }}</td>
			<!--<td>
				<a ng-href="{{ url.announceEdit(announce.id) }}"><button class="btn" ng-show="login.isAuthorized(user.id)">Editer</button></a>
				<button class="btn" ng-show="login.isAuthorized(user.id)" ng-click="deleteAnnounce(key)">x</button>
			</td>-->
		</tr>
	</table>
	<!--<span ng-hide="user_announces | filter:selected">Aucune {{ content.types[type] }}</span>-->
</div>
</div>
