
<div ng-controller="AnnounceNewCtrl">
	<pre>Debug : {{announce}}</pre>
	<h2>{{ content.title }}</h2>
	<span ng-hide="login.user.id">Vous devez être connecté pour accéder à cette page</span>
	<div ng-show="login.user.id">
		<div class="row">
			<div class="span8 offset1" ng-init="selectedType.type=type">
				<h3>{{ content.typeTitles[selectedType.type] }}</h3>
				<form name="announce" ng-submit="announceSubmit()">
					<div class="row-fluid">
						<div class="span2" style="text-align:right">{{ content.form.type }} : </div>
						<div class="span10"><select name="type" ng-model="announce.announce_type" required>
							<option ng-repeat="(key, label) in announce_types" value="{{ key }}">{{ label }}</option>
						</select>
						<span class="error" ng-show="announce.type.$error.required">*</span></div>
					</div>
					<div class="row-fluid">
						<div class="span2" style="text-align:right">{{ content.category }} : </div>
						<div class="span10"><select ng-model="announce.category" required ng-options="id as name for (id, name) in categories"></select>
						<span class="error" ng-show="announce.category.$error.required">*</span></div>
					</div>
					<div class="row-fluid">
						<div class="span2" style="text-align:right">{{ content.sub_category }} : </div>
						<div class="span10"><select ng-model="announce.sub_category" required ng-options="id as name for (id, name) in sub_categories[announce.category]"></select>
						<span class="error" ng-show="announce.sub_category.$error.required">*</span></div>
					</div>
					<div class="row-fluid">
						<div class="span2" style="text-align:right">{{ content.form.title }} : </div>
						<div class="span10"><input type="text" name="title" ng-model="announce.title" required/>
						<span class="error" ng-show="announce.title.$error.required">*</span></div>
					</div>
					<div class="row-fluid">
						<div class="span2" style="text-align:right">{{ content.form.place }} :</div>
						<div class="span10"><input type="text" name="place" ng-model="announce.place"/></div>
					</div>
					<div class="row-fluid">
						<div class="span2" style="text-align:right">{{ content.form.message }} :</div>
						<div class="span10"><textarea name="message" class="span8" ng-model="announce.message" required/>
						<span class="error" ng-show="announce.message.$error.required">*</span></div>
					</div>
					<div class="row-fluid">
						<div class="span10 offset2"><button type="submit" class="btn btn-primary">{{ content.form.submit }}</button></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
