<div class="sh-block">
<div>
	<h3>Travail collectif</h3>
	<hr>
	<span ng-hide="login.user.id">Vous devez être connecté pour effectuer cette action</span>
	<div ng-show="login.user.id">
		<form name="newTransaction" ng-submit="newTransactionSubmit()">
			<p>Ici vous pouvez déclarer le temps que vous avez consacré à un travail destiné au collectif</p>
			<p>Date : <input type="text" min="0" name="execution_date" class="span2" ng-model="transaction.execution_date" placeholder="jj/mm/aaaa" required /></p>
			<p>Nombre de minutes : <input type="number" min="0" name="amount" class="span1" ng-model="transaction.amount" placeholder="ex : 60" required /></p>
			<p>Tâche(s) : <br/>
				annonce <select ng-options="value._id as value.title group by value.author for (id, value) in userAnnounces" ng-model="transaction.reason.announce"></select><br/>
				ou<br/>
				<textarea name="reason" class="span8" ng-model="transaction.reason.text" />
			</p>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">{{ content.submit }}</button>
			</div>
		</form>
	</div>
</div>
</div>
