<!DOCTYPE html>
<html ng-app="selheure">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Link -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"      />
    <link rel="stylesheet" href="css/main.css"                                 />
  </head>

  <body ng-controller="MainCtrl">

    <!-- NavBar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <!-- Brand -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Selheure <small>(beta)</small></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <!-- Link -->
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="home">Acceuil</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Catalogue <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ui-sref-active="active"><a ui-sref="announcelist">Voir les annonces</a></li>
                <li ui-sref-active="active"><a ui-sref="newannounce">Crée une annonce</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Déclaré <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Une participation CRIC </a></li>
                <li ui-sref-active="active"><a ui-sref="declare">Un échange SEL</a></li>
              </ul>
            </li>
          </ul>
          <!-- End link -->

          <!-- Account -->
          <ul class="nav navbar-nav navbar-right" ng-if="login.isConnect()">
              <li><a ui-sref="userpage({name: login.getName()})">{{login.getName()}}</a></li>
              <li><button class="btn btn-default navbar-btn" ng-click="signOut()">Logout</button></li>
          </ul>

          <!-- Form connection -->
          <form class="navbar-form navbar-right" ng-if="login.isNotConnect()">
            <div class="form-group">
              <input ng-model="user.name" type="text" class="form-control" placeholder="Identifiant">
            </div>
            <div class="form-group">
              <input ng-model="user.pass" type="password" class="form-control" placeholder="Mot de Pass">
            </div>
            <button type="submit" ng-click="signIn()" class="btn btn-default">Connexion</button>
            <button type="submit" ng-click="signUp()" class="btn btn-primary">S'enregistrer</button>
          </form>

        </div><!-- /.navbar-collapse -->

      </div>
    </nav>
    <!-- End NavBar -->

    <div class="container">
      <div class="row" style="padding-top: 20px;">
        <div class="span12">
          <notification-overlay></notification-overlay>
          <div ui-view></div>
        <footer style="padding-top: 40px;">
          <p>Licence : GPL</p>
        </footer>
        </div>
      </div>
    </div>

    <script src="vendor/jquery/dist/jquery.js                                "></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js                       "></script>
    <script src="vendor/spin.js/spin.js                                      "></script>
    <!-- Angular -->
    <script src="vendor/angular/angular.js                                   "></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js                 "></script>
    <script src="vendor/angular-resource/angular-resource.js                 "></script>
    <script src="vendor/angular-animate/angular-animate.js                   "></script>
    <!-- Module -->
    <script src="vendor/angular-couch/couch.js                               "></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js       "></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js               "></script>
    <script src="vendor/angular-gettext/dist/angular-gettext.js              "></script>
    <script src="vendor/angular-spinner/angular-spinner.js                   "></script>
    <script src="js/main.js                                                  "></script>
  </body>
</html>
