<div class="sh-block">
<div>
	<div class="row-fluid">
	<div class="span10 offset1">
	<h3>Nouvel échange</h3>
	<hr>
	<span ng-hide="login.user.id">Vous devez être connecté pour accéder à cette page</span>
	<div ng-show="login.user.id">
		<p>Vous pouvez déclarer tout échange réalisé, soit au débit, soit au crédit. Le partenaire de l'échange devra le valider.</p>
		<form name="newTransaction" ng-submit="newTransactionSubmit()">
			
			
			<!--<br/>
			<br/>
			<br/>
			<table>
				<tr>
					<th>Compte à débiter</th>
					<td><input type="number" min="0" name="amount" class="input-mini" ng-model="transaction.amount" placeholder="ex : 60" required /> minutes</td>
					<th>Compte à créditer</th>
				</tr>
				<tr>
					<td>
						<div class="btn-group">
							<button type="button" class="btn" ng-model="transaction.fromLoggedInUser" btn-radio="true">Le mien</button>
							<button type="button" class="btn" ng-model="transaction.fromLoggedInUser" btn-radio="false">Celui de...</button>
						</div>
						<br/>
						<span><input ng-hide="transaction.fromLoggedInUser" type="text" ng-model="transaction.from" typeahead="username for username in userListArray | filter:$viewValue" placeholder="Prénom Nom"/></span>
					</td>
					<td>----------------</td>
					<td>
						<span ng-show="transaction.fromLoggedInUser"><input type="text" ng-model="transaction.to" typeahead="username for username in userListArray | filter:$viewValue" placeholder="Prénom Nom" /></span><span ng-hide="transaction.fromLoggedInUser">Le mien</span>
					</td>
				</tr>
			
			</table>-->
			<br/>
			<br/>
			<br/>
			<div id="new-transaction-table">
			<div class="row-fluid">
				<div class="span12">
					<h4>Description de l'échange</h4>
				</div>
			</div>
			<br/>
			<div class="row-fluid">
				<div class="span5">
					<strong>Compte à débiter</strong>
				</div>
				<div class="span2">
					<input type="number" min="0" name="amount" class="input-mini" ng-model="transaction.amount" placeholder="ex : 60" required /> minutes
				</div>
				<div class="span5">
					<strong>Compte à créditer</strong>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span5">
					<br ng-show="transaction.fromLoggedInUser"/>
					<div class="btn-group">
						<button type="button" class="btn" ng-model="transaction.fromButton" btn-radio="login.user.id">Le mien</button>
						<button type="button" class="btn" ng-model="transaction.fromButton" ng-repeat="proxy in login.user.proxyFor" btn-radio="proxy">{{proxy}}</button>
						<button type="button" class="btn" ng-model="transaction.fromButton" btn-radio="false">Celui de...</button>
					</div>
					<br/>
					<span><input ng-show="!transaction.fromButton" type="text" ng-model="transaction.from" typeahead="username for username in userListArray | filter:$viewValue" placeholder="Prénom Nom"/></span>
					<br/>
					<span>#{{transaction.fromButton}}#</span>
				</div>
				<div class="span2">
					<br/>
					<strong>----------------></strong>
				</div>
				<div class="span5">
					<div ng-hide="login.user.proxyFor.length">
						<br ng-hide="transaction.fromButton == login.user.id"/>
						<span ng-show="transaction.fromButton">Celui de...<br/><input type="text" ng-model="transaction.to" typeahead="username for username in userListArray | filter:$viewValue" placeholder="Prénom Nom" /></span>
						<span ng-hide="transaction.fromButton == login.user.id">Le mien</span>
					</div>
					<div ng-show="login.user.proxyFor.length">
						<div class="btn-group">
							<button type="button" class="btn" ng-model="transaction.toButton" btn-radio="login.user.id" ng-hide="transaction.fromButton == login.user.id">Le mien</button>
							<button ng-repeat="proxy in login.user.proxyFor" type="button" class="btn" ng-model="transaction.toButton" btn-radio="proxy" ng-hide="transaction.fromButton == proxy">{{proxy}}</button>
							<button type="button" class="btn" ng-model="transaction.toButton" btn-radio="false" ng-show="transaction.fromButton">Celui de...</button>
						</div><br/>
						<span><input ng-show="!transaction.toButton" type="text" ng-model="transaction.to" typeahead="username for username in userListArray | filter:$viewValue" placeholder="Prénom Nom"/></span>
					</div>
					<br/>
					<span>#{{transaction.toButton}}#</span>
				</div>
			</div>
			<br/>
			<div class="row-fluid">
				<div class="span12">
					<h4>Motif de l'échange</h4>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4" ng-show="userAnnounces">
					Référence à une annonce <select ng-options="value._id as value.title group by value.author for (id, value) in userAnnounces" ng-model="transaction.reason.announce"></select>
				</div>
				<div ng-class="{span4: userAnnounces.length > 0, offset2: userAnnounces.length > 0, span12: userAnnounces.length == 0}">
					Texte libre<br/>
					<textarea name="reason" class="span4" ng-model="transaction.reason.text" ngMaxlength="60" />
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">{{ content.submit }}</button>
			</div>
			</div>
			<!--<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			
			<p>Compte à débiter : <select ng-model="transaction.from" ng-options="key as value for (value, key) in {'le mien': login.user.id, 'celui de...': ''}">
			</select>
			<!--<input ng-show="transaction.from != login.user.id" type="text" name="to" class="typeahead" autocomplete="off" ng-model="transaction.from" placeholder="Prénom Nom" />-->
				<!--<span><input ng-hide="transaction.from == login.user.id" type="text" ng-model="transaction.from" typeahead="username for username in userListArray | filter:$viewValue" placeholder="Prénom Nom"/></span>
			</p>
			
			<p>Compte à créditer : <span><input ng-show="transaction.from == login.user.id" type="text" ng-model="transaction.to" typeahead="username for username in userListArray | filter:$viewValue" placeholder="Prénom Nom" /></span><span ng-hide="transaction.from == login.user.id">Le mien</span></p>
			
			<p>Montant : <input type="number" min="0" name="amount" class="span1" ng-model="transaction.amount" placeholder="ex : 60" required /> minutes</p>
			
			<p>Date de l'échange : <input type="text" min="0" name="execution_date" class="span2" ng-model="transaction.execution_date" placeholder="jj/mm/aaaa" required /></p>
			
			<p>Motif : <br/>
			annonce <select ng-options="value._id as value.title group by value.author for (id, value) in userAnnounces" ng-model="transaction.reason.announce"></select><br/>
			ou<br/>
			<textarea name="reason" class="span8" ng-model="transaction.reason.text" ngMaxlength="60" />
			</p>
			
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">{{ content.submit }}</button>
			</div>-->
		</form>
	</div>
	</div>
	</div>
</div>
</div>
