<div class="sh-block">
<div ng-hide="user.id">
    Cet utilisateur n'existe pas
</div>
<div ng-show="user.id">
	<h3>{{ user.id }}</h3>
	<hr>
	<p ng-show="user.tel">{{content.telephone}} : {{user.tel}}</p>
	<p ng-show="user.email">{{content.emailAddress}} : {{user.email}}</p>
	<p ng-show="!user.tel && !user.email">{{content.warningNoContactInformation}}</p>
	<p ng-show="user.localization">{{content.localization}} : {{user.localization}}</p>
	<p>{{content.balanceLabel}} : {{balance.value}} {{balance.unity}}</p>
	<hr/>
	<div>
		<h4>{{content.nonValidatedTransactions}}</h4>
		<div last-transactions user="user" number="20" status="not validated"></div>
		<!--<div ng-class="{active:$first}">
			<table class="table table-hover">
				<tr>
					<th>{{content.date}}</th>
					<th>{{content.from}}</th>
					<th>{{content.to}}</th>
					<th>{{content.amount}}</th>
					<th>{{content.reason}}</th>
					<th>{{content.toBeValidatedBy}}</th>
					<th></th>
				</tr>
				<tr ng-repeat="(key, transaction) in transactionList | filter:{validated: '!true'}">
					<td>{{ transaction.execution_date | date:content.dateFormat }}</td>
					<td><user-link name="transaction.from"/></td>
					<td><user-link name="transaction.to"/></td>
					<td>{{ transaction.amount }}</td>
					<td>{{ transaction.reason.announce || transaction.reason.text }}</td>
					<td>{{transaction.validator}}</td>
					<td>
						<ng-confirm title="Valider échange" action-text="Etes-vous sûr de vouloir valider cet échange ?" action-button-text="Oui" action-function="validateTransaction(transaction)" cancel-button-text="Non" cancel-function="close()">
							<button class="btn" ng-show="login.isAuthorized(transaction.validator)">{{content.submit}}</button>
						</ng-confirm>
					</td>
				</tr>
			</table>
		</div>-->
	</div>
	
	<hr/>
	<h4 ng-show="login.user.id == user.id">Mes annonces</h4>
	<h4 ng-hide="login.user.id == user.id">Annonces de {{user.id}}</h4>
	<div ng-repeat="(type, label) in announceTypes">
		<h5>{{ label }}s</h5>
		<table class="table table-hover" ng-init="selected.announce_type=type">
			<tr>
				<th>Date</th>
				<th>Titre</th>
				<th>Lieu</th>
				<th></th>
			</tr>
			<tr ng-repeat="(key, announce) in user_announces | filter:selected">
				<td>{{ announce.created_at | date:content.dateFormat }}</td>
				<td><a href="" ng-popup="/partials/announces_edit.html">{{ announce.title }}</a></td>
				<td>{{ announce.place }}</td>
				<td>
					<a ng-href="{{ url.announceEdit(announce.id) }}"><button class="btn" ng-show="login.isAuthorized(user.id)">Editer</button></a>
					<!--<button class="btn" ng-show="login.user.id == user.id" ng-popup="/partials/announces_edit.html">Editer </button>-->
					<button class="btn" ng-show="login.isAuthorized(user.id)" ng-click="deleteAnnounce(key)">x</button>
				</td>
			</tr>
		</table>
		<!--<span ng-hide="user_announces | filter:selected">Aucune {{ content.types[type] }}</span>-->
	</div>
	<hr/>
	<h4 ng-show="login.user.id == user.id">Historique de mes échanges</h4>
	<h4 ng-hide="login.user.id == user.id">Historique des échanges de {{user.id}}</h4>
	<div last-transactions user="user" number="20" status="validated"></div>
</div>
</div>


<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="confirmModalLabel">{{ confirm.label }}</h3>
	</div>
	<div class="modal-body">
		{{ confirm.question }}		
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="confirm.ok()">Oui</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="confirm.cancel()">Non</button>
	</div>
</div>
