<div class="sh-block">
  <div>
    <h2>Utilisateurs enregistrés</h2>
  </div>

  <table class="table table-hover">
  <tr>
    <th>Nom</th>
    <th>E-mail</th>
    <th>Statut</th>
    <th ng-if="login.isAppAdmin()">Actions</th>
  </tr>
  <tr ng-repeat="user in users">
    <td><a ui-sref="userpage({name: user.name})">{{ user.name }}</a></td>
    <td>{{ user.email }}</td>
    <td><span ng-if="user.locked">Bloqué</span><span ng-if="!user.locked">Actif</span></td>
    <td ng-if="login.isAdmin()">
      <button ng-if="user.locked" ng-click="unlockUser(user)">Débloquer</button>
      <button ng-if="!user.locked && login.getName() != user.name" ng-click="lockUser(user)">Bloquer</button>
      <button ng-show="login.getName() != user.name" ng-click="resetPwd(user)">Reset du mdp</button>
    </td>
  </tr>
</table>
</div>
