<div class="sh-block">
<div ng-show="user.name">
  <h3>{{ user.name }}</h3>
  <hr>
  <p ng-if="user.locked">
	<strong>Compte verrouillé. <span ng-if="user.name == login.getName()">Demandez le dévérouillage à l'administrateur</span></strong>
  </p>

  <div ng-hide="editMode">
    <button ng-show="user.name == login.getName()" ng-click="editMode = true">Modifier</button>
    <p ng-show="user.tel">Telephone : {{user.tel}}</p>
    <p ng-show="user.email">Adresse Email : {{user.email}}</p>
    <p ng-show="!user.tel && !user.email">Attention : pas d'information de contact</p>
    <p ng-show="user.localization">Localisation : {{user.localization}}</p>
    <button ng-show="user.name == login.getName()" class="btn" ng-click="changePwdMode = true">Changer mot de passe</button>
  </div>

  <div ng-show="editMode">
    <form name="editDataForm" ng-submit="editDataSubmit(newUserData)">
      <label for="tel">Téléphone</label>
      <input name="tel" ng-model="newUserData.tel" type="tel"/>
      <br>
      <label for="email">Adresse e-mail</label>
      <input name="email" ng-model="newUserData.email" type="email"/>
      <br>
      <label for="localization">Localisation</label>
      <input name="localization" ng-model="newUserData.localization" placeholder="Quartier, rue, adresse précise..." type="localization"/>
      <br>
      <button class="btn btn-primary" type="submit">Valider</button>
      <button class="btn" type="button" ng-click="editMode = false">Annuler</button>
    </form>
  </div>

  <div ng-show="changePwdMode">
    <form name="changePwdForm" ng-submit="changePwdSubmit(pwd)">
      <label for="old">Mot de passe actuel : </label>
      <input name="old" type="password" ng-model="pwd.old" required/>
      <br>
      <label for="new">Nouveau mot de passe : </label>
      <input name="new" type="password" ng-model="pwd.new" required/>
      <br>
      <label for="confirm">Confirmation : </label>
      <input name="confirm" type="password" ng-model="pwd.confirm" required/>
      <br>
      <button class="btn btn-primary" type="submit">Valider</button>
      <button class="btn" type="button" ng-click="changePwdMode = false">Annuler</button>
    </form>
  </div>

  <hr/>
  <p>Solde compte temps : {{userBalance}} <ng-pluralize count="userBalance"
                                                        when="{'0':     '{{config.currency}}',
                                                               'one':   '{{config.currency}}',
                                                               'other': '{{config.currency}}s'}">
                                          </ng-pluralize>
  </p>
  <hr/>
  <div ng-show="notValidated.length">
    <h4>Échanges en attente de validation</h4>
    <transactions transactions="notValidated"></transactions>
    <hr/>
  </div>
  <h4 ng-if="login.getName() == user.name">Mes annonces</h4>
  <h4 ng-if="login.getName() != user.name">Annonces de {{user.name}}</h4>
  <announces ng-show="announces.length" announces="announces"></announces>
  <p ng-hide="announces.length">Pas d'annonces</p>
  <hr/>
  <h4 ng-if="login.getName() == user.name">Historique de mes échanges</h4>
  <h4 ng-if="login.getName() != user.name">Historique des échanges de {{user.name}}</h4>
  <transactions ng-show="transactions.length" transactions="transactions"></transactions>
  <p ng-hide="transactions.length">Pas d'échanges</p>
</div>
</div>


<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="confirmModalLabel">{{ confirm.label }}</h3>
  </div>
  <div class="modal-body">
    {{ confirm.question }}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm.ok()">Oui</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="confirm.cancel()">Non</button>
  </div>
</div>
