[submodule "src/Translation"]
	path = src/Translation
	url = https://github.com/LupoLibero/couch-ng-Translation
	branch = master
[submodule "src/Notification"]
	path = src/Notification
	url = https://github.com/LupoLibero/couch-ng-Notification.git
	branch = no-socket
[submodule "src/Directive"]
	path = src/Directive
	url = https://github.com/LupoLibero/directives.git
	branch = master