<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Créditeur</th>
    <th>Débiteur</th>
    <th>Montant</th>
    <th>Motif</th>
    <th>Announce</th>
    <th>Validation</th>
  </tr>
  <tr ng-repeat="transaction in transactions">
    <td>{{ transaction.created_at | date }}</td>
    <td><a ui-sref="userpage({name: transaction.from.split(' ')[0]})">{{transaction.from}}</a></td>
    <td><a ui-sref="userpage({name: transaction.to})">{{transaction.to}}</a></td>
    <td>{{ transaction.amount }}</td>
    <td ng-if="transaction.message">{{transaction.message}}</td>
    <td ng-if="!transaction.message">Pas de message</td>
    <td ng-if="transaction.reference"><a ui-sref="announceedit({id: transaction.reference})">Announce</a></td>
    <td ng-if="!transaction.reference">Pas d'annonce</a></td>
    <td>
      <p ng-show="!transaction.validated">Non validé</p>
      <p ng-show="transaction.validated">Validé</p>
      <p ng-show="login.getName() == transaction.validator && !transaction.validated"><button ng-click="validate(transaction)">Valider</button></p>
      <p ng-show="login.getName() == transaction.declared_by"><button ng-click="edit(transaction)">Editer</button></p>
    </td>
  </tr>
</table>
<p ng-if="transactions.length == 0">Aucune transaction n'est disponible</p>
