<div class="sh-block">
<div ng-show="user.name">
  <h3>{{ user.name }}</h3>
  <hr>
  <p ng-if="login.getName() == user.name && !login.isValidated()">
	<strong>Compte non validé</strong>
  </p>
  <p ng-show="user.tel">Telephone : {{user.tel}}</p>
  <p ng-show="user.email">Adresse Email : {{user.email}}</p>
  <p ng-show="!user.tel && !user.email">Attention : pas d'information de contact</p>
  <p ng-show="user.localization">Localisation : {{user.localization}}</p>
  <p>Solde compte temps : {{balance.value}} {{balance.unity}}</p>
  <hr/>
  <div>
    <h4>Echanges en attente de validation</h4>
    <transactions transactions="notValidated"></transactions>
  </div>

  <hr/>
  <h4 ng-if="login.getName() == user.name">Mes annonces</h4>
  <h4 ng-if="login.getName() != user.name">Annonces de {{user.name}}</h4>
  <announces announces="announces"></announces>
  <hr/>
  <h4 ng-if="login.getName() == user.name">Historique de mes échanges</h4>
  <h4 ng-if="login.getName() != user.name">Historique des échanges de {{user.name}}</h4>
  <transactions transactions="transactions"></transactions>
</div>
</div>


<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="confirmModalLabel">{{ confirm.label }}</h3>
  </div>
  <div class="modal-body">
    {{ confirm.question }}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm.ok()">Oui</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="confirm.cancel()">Non</button>
  </div>
</div>
