<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3>{{ announce.title }}</h3>
  <p>
    {{ categories[announce.category].name }}&nbsp;
    <strong ng-show="announce.subCategory">&gt;</strong> {{ categories[announce.category].sub[announce.subCategory || "99"] }}
  </p>
  <p>
    <span ng-show="announce.announce_type == 'demand'">Demandé</span>
    <span ng-show="announce.announce_type == 'proposal'">Proposé</span> par {{ announce.author }}</p>
</div>

<div class="modal-body">
  <p>{{ announce.message }}</p>

  <p ng-show="announce.place">Lieu : {{ announce.place }}</p>
</div>