<div class="sh-block">
  <h3>Travail collectif</h3>
  <hr>
  <span ng-if="!login.isConnected()">Vous devez être connecté pour effectuer cette action</span>
  <form ng-submit="newTransactionSubmit()" ng-if="login.isConnected()">
    <p>Ici vous pouvez déclarer le temps que vous avez consacré à un travail destiné au collectif</p>
    <label for="execution_date">Date : </label>
    <input type="text" class="form-control" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    <label for="amount">Nombre de minutes : </label>
    <input type="number" id="amount" min="0" ng-model="transaction.amount" placeholder="ex : 60" required />
    <p>Tâche(s) :</p>
    <label for="announce">Annonce : </label>
    <select id="announce" ng-options="value._id as value.title group by value.author for (id, value) in userAnnounces" ng-model="transaction.reason.announce"></select>
    <p>ou</p>
    <label for="reason">Text : </label>
    <textarea id="reason" ng-model="transaction.reason.text" />
    <button type="submit" class="btn btn-primary">Envoyé</button>
  </form>
</div>
