<div class="sh-block">
  <h1>Déclarer une participation CRIC</h1>
  <hr>
  <span ng-if="!login.isConnected()">Vous devez être connecté pour accéder à cette page</span>

  <div ng-if="login.isConnected()">
    <form ng-submit="newTransactionSubmit()">

      <h5>Nombre de minutes :</h5>
      <p>
        <input type="number" min="0" ng-model="transaction.amount"
               placeholder="ex : 60" required/>&nbsp;{{currencyName}}s
      </p>

      <h4>Description de la participation</h4>
      <p ng-show="announceList">Référence à une annonce
      <select ng-options="value.id as value.title for (id, value) in announceList" ng-model="transaction.reason.announce"></select>
      </p>
      <p>Texte libre</p>
      <textarea name="reason" class="span4" ng-model="transaction.reason.text" ngMaxlength="60" />
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
  </div>

</div>
