<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Créditeur</th>
    <th>Débiteur</th>
    <th>Montant</th>
    <th>Motif</th>
    <th>Validation</th>
  </tr>
  <tr ng-repeat="transaction in transactions">
    <td>{{ transaction.created_at | date }}</td>
    <td><a ui-sref="userpage({name: transaction.from})">{{transaction.from}} <span ng-if="transaction.fromgroup">({{transaction.declared_by}})</span></a></td>
    <td><a ui-sref="userpage({name: transaction.to})">{{transaction.to}} <span ng-if="transaction.togroup">({{transaction.declared_by}})</span></a></td>
    <td>{{ transaction.amount }}</td>
    <td ng-if="transaction.message">{{transaction.message}}</td>
    <td>
      <p ng-show="!transaction.validated">Non validé</p>
      <p ng-show="transaction.validated">Validé</p>
      <p ng-show="login.authorize(transaction.validator) && !transaction.validated"><button ng-click="validate(transaction)">Valider</button></p>
      <p ng-show="login.authorize(transaction.editable)  && !transaction.validated"><button ng-click="edit(transaction)">Editer</button></p>
    </td>
  </tr>
</table>
<p ng-if="transactions.length == 0">Aucune transaction n'est disponible</p>
