<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Débité</th>
    <th>Crédité</th>
    <th>Montant</th>
    <th>Motif</th>
    <th>Validation</th>
  </tr>
  <tr ng-repeat="transaction in transactions">
    <td>{{ transaction.createdAt | date:"dd/MM"}}</td>
    <td><a ui-sref="userpage({name: transaction.from})">{{transaction.from}} <span ng-if="transaction.fromUser">({{transaction.fromUser}})</span></a></td>
    <td><a ui-sref="userpage({name: transaction.to})">{{transaction.to}} <span ng-if="transaction.toUser">({{transaction.toUser}})</span></a></td>
    <td>{{ transaction.amount }}</td>
    <td>{{transaction.message}}</td>
    <td>
      <span ng-show="transaction.validated">Validé</span>

      <span ng-show="!transaction.validated">
        <button ng-show="canValidate(transaction)" ng-click="validate(transaction)">Valider</button>
        <span ng-show="!canValidate(transaction)">Non validé</span>
        <button ng-show="canEdit(transaction)" ng-click="edit(transaction)">Editer</button>
      </span>

    </td>
  </tr>
</table>
<p ng-if="transactions.length == 0">Aucune transaction n'est disponible</p>
