<div class="col-xs-12 hero-unit">
  <h2>Bienvenue sur SEL'heure-{{config.collectiveUser}}</h2>
  <p> Ce logiciel a pour vocation de gérer le système d'échange de temps du {{config.collectiveUser}} : échanges SEL entre personnes et travail collectif.</p>
  <p>Il vous permet de :</p>
  <ul>
    <li>déposer vos annonces (demandes ou propositions) de savoirs, services ou biens</li>
    <li>consulter les annonces des autres adhérents</li>
    <li>déclarer et/ou valider un échange réalisé avec une autre personne</li>
    <li>déclarer votre temps de participation effectué pour le collectif</li>
    <li>consulter votre compte temps</li>
    <li>...</li>
  </ul>
</div>

<div class="row">
  <div class="col-md-5 sh-block">
    <h3>10 dernières annonces postées</h3>
    <announces announces="announces"/>
  </div>
  <div class="col-md-6 sh-block">
    <h3>10 derniers échanges déclarés</h3>
    <transactions transactions="transactions"/>
  </div>
</div>
