<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 id="signUpLabel">S'enregistrer</h3>
</div>

<div class="modal-body">
  <form class="form form-horizontal" ng-submit="signUpSubmit()">
    <div class="control-group">
      <label class="control-label">Identifiant</label>
      <div class="controls">
        <input name="name" type="text" ng-model="user.name" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Mot de passe</label>
      <div class="controls">
        <input name="password" type="password" ng-model="user.password" required/>
      </div>
    <div class="control-group">
      <label class="control-label">Confirmation de mot de passe</label>
      <div class="controls">
        <input name="passwordconf" type="password" ng-model="user.passwordconf" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">Email</label>
      <div class="controls">
        <input name="email" type="email" ng-model="user.email" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">Tel</label>
      <div class="controls">
        <input name="title" type="tel" ng-model="user.tel"  placeholder="ex : 01 23 45 67 89"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">Localisation</label>
      <div class="controls">
        <input name="localization" type="text" ng-model="user.localization" placeholder="Quartier, rue, adresse précise..."/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">Valider</button>
        <button class="btn" type="button">Annuler</button>
      </div>
    </div>
  </form>
</div>
