<div class="sh-block">
  <div>
    <h2>Annonces du catalogue</h2>
    <div class="btn-group">
      <button class="btn btn-default" ng-model="selected.announceType" ng-repeat="(key, label) in announceTypes" btn-radio="key">{{label}}</button>
    </div>
    <div>Rubrique : <category options="categories" model="selected.category"/>
    </div>
    <div ng-show="selected.category">Sous-rubrique : <sub-category options="subCategories" model="selected.subCategory" parent="selected.category"/>
    </div>
  </div>
  <announces announces="announces" category="selected.category" subcategory="selected.subCategory" types="selected.announceType"/>
</div>
