<div class="sh-block">
<div>
  <h2>Annonces du catalogue</h2>
  <div>Rubrique : <category options="categories" model="selected.category"/>
  </div>
  <div ng-show="selected.category">Sous-rubrique : <sub-category options="subCategories" model="selected.subCategory" parent="selected.category"/>
  </div>
</div>
<div>
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Auteur</th>
      <th>Titre</th>
    </tr>
    <tr ng-repeat="(key, announce) in announces |category:selected.category:selected.subCategory">
      {{ announce }}
      <td>{{ announce.created_at | date:"dd/MM" }}</td>
      <td>{{ announceTypes[announce.announce_type ]}}</td>
      <td>{{ announce.author }}</td>
      <td>{{ announce.title }}</td>
    </tr>
  </table>
</div>
</div>
