<div class="sh-block">
  <p ng-if="notAllow">Vous n'êtes pas authorisé à modifier cette annonces</p>
  <div ng-controller="AnnounceEditCtrl" ng-if="!notAllow">
    <h2 ng-if="announce.id">Editer une annonce</h2>
    <h2 ng-if="!announce.id">Nouvelle annonce</h2>

    <span ng-if="login.isNotConnect()">Vous devez être connecté pour accéder à cette page</span>

    <div class="row-fluid" ng-if="login.isConnect()">
      <h3>{{ content.typeTitles[selectedType.type] }}</h3>

      <div class="btn-group">
        <button class="btn btn-default" ng-model="announce.announce_type" ng-repeat="(key, label) in announceTypes" btn-radio="key">{{label}}</button>
      </div>

      <form name="announceForm" ng-submit="announceSubmit()">
        <p>
          <span>Rubrique : </span>
          <category options="categories" model="announce.category"/>
          <span class="error" ng-show="announce.category.$error.required">*</span>
        </p>

        <p ng-show="announce.category">
          <span>Sous Rubrique : </span>
          <sub-category options="subCategories" model="announce.subCategory" parent="announce.category"/>
          <span class="error" ng-show="announce.sub_category.$error.required">*</span>
        </p>

        <p>
          <span>Titre : </span>
          <input type="text" name="title" ng-model="announce.title" required/>
          <span class="error" ng-show="announce.title.$error.required">*</span>
        </p>

        <p>
          <span>Lieu :</span>
          <input type="text" name="place" ng-model="announce.place"/>
        </p>

        <p>
          <span>Description :</span>
          <textarea name="message" ng-model="announce.message" required/>
          <span class="error" ng-show="announce.message.$error.required">*</span>
        </p>

        <button type="submit" class="btn btn-primary">Valider</button>
      </form>
  </div>
</div>
