<div class="sh-block">
  <div>
    <h2>Annonces du catalogue</h2>
    <div class="btn-group">
      <button class="btn btn-default" ng-model="selected.announceType"
              ng-repeat="(key, label) in announceTypes" btn-radio="key">{{label}}</button>
    </div>
    <div>Rubrique : <category options="categories" model="selected.category"/>
    </div>
    <div ng-show="selected.category">Sous-rubrique : <sub-category options="categories[selected.category].sub" model="selected.subCategory"/>
    </div>
  </div>

  <accordion close-others="true">
    <accordion-group ng-repeat="announce in announces
                        | types:selected.announceType
                        | category:selected.category:selected.subCategory
                        | orderBy:'created_at':true"
                     is-open="opened == announce.id">
      <accordion-heading>
        <div>{{ announce.created_at | date:"dd/MM/yy" }} : {{announce.title}}
              ({{ announceTypes[announce.announce_type] }} de
              <a ui-sref="userpage({name: announce.author})">{{announce.author}}</a>)</div>
      </accordion-heading>
      <a id="{{announce.id}}"></a>
      <div class="actions">
        <button ng-show="canEdit(announce)" ui-sref="announceedit({id: announce.id})"
                type="button" class="button">Modifier</button>
        <button ng-show="canDelete(announce)" ng-click="delete(announce)"
                type="button" class="button">Supprimer</button>
      </div>
      <p>
        Catégorie : {{ categories[announce.category].name }}&nbsp;
        <strong ng-show="announce.subCategory">&gt;</strong> {{ categories[announce.category].sub[announce.subCategory] }}
      </p>
      <p>{{ announce.message }}</p>
    </accordion-group>
  </accordion>

      <p ng-if="announces.length == 0">Aucune annonce n'est disponible</p>
</div>