<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Auteur</th>
    <th>Titre</th>
  </tr>
  <tr ng-repeat="announce in announces |types:types |category:category:subcategory">
    <td>{{ announce.created_at | date:"dd/MM" }}</td>
    <td>{{config.announceTypes[announce.announce_type]}}</td>
    <td><a ui-sref="userpage({name: announce.author})">{{ announce.author }}</a></td>
    <td><a ui-sref="announceshow(announce)">{{ announce.title }}</a></td>
    </td>
  </tr>
</table>
<p ng-if="announces.length == 0">Aucune annonce n'est disponible</p>
